<template>
    <div>
        <ul class="list-group">
            <li v-for="(activity, activity_index) in activities" class="list-group-item">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Activity name</label>
                        <input type="hidden" :name="'activities['+activity_index+'][id]'" class="form-control form-control-sm" v-model="activity.id" required/>
                        <textarea-autosize
                                :name="'activities[' + activity_index + '][name]'"
                                placeholder="Activity Name"
                                v-model="activity.name"
                                rows="1"
                                :max-height="350"
                                @blur.native="onBlurTextarea"
                                class="form-control form-control-sm"
                        ></textarea-autosize>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Activity Type</label>
                        <select :name="'activities['+activity_index+'][type]'" class="form-control form-control-sm" v-model="activity.type">
                            <option v-for="actionableType in actionableTypes" :value="actionableType.value">{{actionableType.text}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-8">
                        <label>Attributes</label>
                        <div class="row">
                            <div class="form-group col-md-2">
                                <div class="custom-control custom-checkbox custom-control-inline ml-2" title="Is the activity a key performance indicator required for step completion?">
                                    <input type="checkbox" :name="'activities['+activity_index+'][kpi]'" class="custom-control-input" v-model="activity.kpi" :id="'kpi-' + activity_index"/>
                                    <label class="custom-control-label" :for="'kpi-' + activity_index">KPI</label>
                                </div>
                            </div>
                            <!--<div class="form-group col-md-2">
                                <div class="custom-control custom-checkbox custom-control-inline ml-2" title="Will the activity be completed by the client?">
                                    <input type="checkbox" :name="'activities['+activity_index+'][client]'" class="custom-control-input" v-model="activity.client" :id="'client-' + activity_index"/>
                                    <label class="custom-control-label" :for="'client-' + activity_index">Client</label>
                                </div>
                            </div>-->
                            <div class="form-group col-md-2">
                                <div class="input-group" title="Responsible user">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-user"></i></span>
                                    </div>
                                    <select :name="'activities['+activity_index+'][user]'" class="form-control form-control-sm" v-model="activity.user">
                                        <option value="0">None</option>
                                        <option v-for="(user, user_index) in users" :value="user_index">{{user}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-md-2">
                                <div class="custom-control custom-checkbox custom-control-inline ml-2" title="Is commenting allowed on the activity?">
                                    <input type="checkbox" :name="'activities['+activity_index+'][comment]'" class="custom-control-input" v-model="activity.comment" :id="'comment-' + activity_index"/>
                                    <label class="custom-control-label" :for="'comment-' + activity_index">Comments</label>
                                </div>
                            </div>
                            <div class="form-group col-md-2">
                                <div class="input-group" title="Activity weighting">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-chart-bar"></i></span>
                                    </div>
                                    <input type="number" :name="'activities['+activity_index+'][weight]'" class="form-control form-control-sm d-inline" placeholder="0" v-model="activity.weight"/>
                                </div>
                            </div>
                            <div class="form-group col-md-2">
                                <div class="custom-control custom-checkbox custom-control-inline ml-2" title="Is the activity a procedure?">
                                    <input type="checkbox" :name="'activities['+activity_index+'][procedure]'" class="custom-control-input" v-model="activity.procedure" :id="'procedure-' + activity_index"/>
                                    <label class="custom-control-label" :for="'procedure-' + activity_index">Procedure</label>
                                </div>
                            </div>
                            <div class="form-group col-md-2">
                                <div class="custom-control custom-checkbox custom-control-inline ml-2" title="Is the activity a value?">
                                    <input type="checkbox" :name="'activities['+activity_index+'][value]'" class="custom-control-input" @click="checkValue(activity_index)" v-model="activity.value" :id="'value-' + activity_index"/>
                                    <label class="custom-control-label" :for="'value-' + activity_index">Value</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label>Threshold</label>
                        <div class="form-row">
                            <div class="form-group col">
                                <input type="number" :name="'activities['+activity_index+'][threshold_time]'" class="form-control form-control-sm" placeholder="-" v-model="activity.threshold.time" title="Threshold time"/>
                            </div>
                            <div class="form-group col">
                                <select :name="'activities['+activity_index+'][threshold_type]'" class="form-control form-control-sm" v-model="activity.threshold.type" title="Threshold type">
                                    <option v-for="thresholdType in thresholdTypes" :value="thresholdType.value">{{thresholdType.text}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-row" v-if="activity.type==='dropdown'">
                    <div>
                        <button v-show="!activity.is_dropdown_items_shown" class="btn btn-secondary-outline btn-sm" type="button" @click="toggleDropdownItemShown(activity_index)"><i class="fa fa-eye"></i> Show dropdown items</button>
                        <button v-show="activity.is_dropdown_items_shown" class="btn btn-secondary-outline btn-sm" type="button" @click="toggleDropdownItemShown(activity_index)"><i class="fa fa-eye-slash"></i> Hide dropdown items</button>
                    </div>
                    <div v-show="activity.is_dropdown_items_shown">
                        <div v-for="(dropdownItem, dropdown_item_index) in activity.dropdown_items" class="d-inline">
                            <button type="button" class="btn btn-sm btn-secondary mt-1 mr-2" @click="deleteDropdownItem(activity_index, dropdown_item_index)">
                                {{dropdownItem}} <i class="fa fa-trash"></i>
                            </button>
                            <input type="hidden" :name="'activities['+activity_index+'][dropdown_items][]'" :value="dropdownItem"/>
                        </div>
                        <input type="text" class="form-control form-control-sm d-inline mt-1" v-model="activity.dropdown_item" @keydown.enter.prevent="createDropdownItem(activity_index)" placeholder="Dropdown Item label"/>
                    </div>
                </div>

                <p class="text-center">
                    <button type="button" title="Move activity up" class="btn btn-outline-secondary btn-sm" :class="[activity_index===0 ? 'disabled' : '']" @click="moveActivity(true, activity_index)"><i class="fa fa-fw" :class="[activity_index===0 ? 'fa-minus' : 'fa-arrow-up']"></i></button>
                    <button type="button" title="Move activity down" class="btn btn-outline-secondary btn-sm" :class="[activity_index===activities.length-1 ? 'disabled' : '']" @click="moveActivity(false, activity_index)"><i class="fa fa-fw" :class="[activity_index===activities.length-1 ? 'fa-minus' : 'fa-arrow-down']"></i></button>
                    <button type="button" title="Delete activity" class="btn btn-outline-danger btn-sm" @click="deleteActivity(activity_index)"><i class="fa fa-fw fa-trash"></i></button>
                </p>


            </li>
            <li class="text-center list-group-item">
                <button type="button" class="btn btn-outline-success btn-sm" @click="createActivity()"><i class="fa fa-plus"></i> Activity</button>
            </li>
        </ul>
    </div>
</template>

<script>
    export default {
        props: {
            blackActivities: {
                type: Array,
                default: () => [
                    {
                        type: 'text',
                        kpi: true,
                        comment: false,
                        value: false,
                        procedure: false,
                        client: false,
                        weight: 0,
                        dropdown_item: '',
                        dropdown_items: [],
                        is_dropdown_items_shown: false,
                        threshold: {
                            time: 7,
                            type: 'days'
                        },
                        user: 0
                    }
                ]
            }
        },
        data() {
            return {
                activities: this.blackActivities,
                users: [],
                //activity type hook
                actionableTypes: [
                    {text: 'Text', value: 'text'},
                    {text: 'Textarea', value: 'textarea'},
                    {text: 'Template Email', value: 'template_email'},
                    {text: 'Document Email', value: 'document_email'},
                    {text: 'Document Upload', value: 'document'},
                    {text: 'Dropdown', value: 'dropdown'},
                    {text: 'Date', value: 'date'},
                    {text: 'Y/N', value: 'boolean'},
                    {text: 'Notification', value: 'notification'},
                    {text: 'Multiple Attachment', value: 'multiple_attachment'}
                ],
                thresholdTypes: [
                    {text: 'Seconds', value: 'seconds'},
                    {text: 'Minutes', value: 'minutes'},
                    {text: 'Hours', value: 'hours'},
                    {text: 'Days', value: 'days'}
                ]
            }
        },
        methods: {
            createActivity(index) {
                this.activities.push({
                    name: '',
                    type: 'text',
                    kpi: true,
                    comment: false,
                    value: false,
                    procedure: false,
                    client: false,
                    weight: 0,
                    dropdown_item: '',
                    dropdown_items: [],
                    is_dropdown_items_shown: false,
                    threshold: {
                        time: 7,
                        type: 'days'
                    },
                    user: 0
                });
            },
            deleteActivity(index) {
                this.activities.splice(index, 1);
            },
            moveActivity(direction, index) {
                if (this.activities.length !== 1 && !(index === 0 && direction) && !(index === (this.activities.length - 1) && !direction)) {
                    if (direction) {
                        const b = this.activities[index];
                        Vue.set(this.activities, index, this.activities[index - 1]);
                        Vue.set(this.activities, index - 1, b);
                    } else {
                        const b = this.activities[index];
                        Vue.set(this.activities, index, this.activities[index + 1]);
                        Vue.set(this.activities, index + 1, b);
                    }
                }
            },
            createDropdownItem(index) {
                if (!this.activities[index].dropdown_items) {
                    this.activities[index].dropdown_items = [];
                }

                this.activities[index].dropdown_items.push(
                    this.activities[index].dropdown_item
                );

                this.activities[index].dropdown_item = '';
            },
            deleteDropdownItem(index, dropdown_item_index) {
                this.activities[index].dropdown_items.splice(dropdown_item_index, 1);
            },
            toggleDropdownItemShown(index) {
                this.activities[index].is_dropdown_items_shown = !this.activities[index].is_dropdown_items_shown;
            }
        },
        created() {
            axios.get('/api/getusers')
                .then(response => {
                    this.users = response.data;
                })
                .catch(error => {
                    // todo handle error
                });
        }
    }
</script>