/* ABSA Red: #DD0033
ABSA Dark Grey: #2E3135
ABSA Light Grey: #C0C1C4 */


body {
    background: -webkit-gradient(linear, left top, right bottom, from(#b7002a), to(#DD0033));
    background: linear-gradient(180deg, #b7002a 0%, #DD0033 150%);
}

body.sidebar-mini {
    background: #ffffff;
}

a {
    color: #000000;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

a:hover {
    color: #000000;
    text-decoration: none;
}

.nav-link {
    color: #000000 !important;
    display:inline-block;
    margin:0;
}

.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active{
    box-shadow: none;
    color:#FFFFFF !important;
    background: #DD0033;
}

.sidebar .nav-link:after {
    display:block;
    content: '';
    border-bottom: solid 2px #DD0033;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

.nav-link:hover:after {
    transform: scaleX(1);
}

.nav-link.disabled {
    color: #C0C1C4;
}

.content {
    background-color: rgba(0, 0, 0, 0.0);
}

.btn-dark,.btn-graph{
    background: #DD0033;
    border-color: #DD0033;
}

thead th{
    background-color: #DD0033 !important;
    color:#FFFFFF;
}

.blackboard-recents th{
    color:#FFFFFF;
}

.sidebar .header {
    color: #2E3135 !important;
    border-bottom: 1px solid #2E3135;
    border-top: 1px solid #2E3135;
}
[class*=sidebar-dark] .brand-link{
    border-bottom:none;
}
[class*=sidebar-dark] .user-panel{
    padding-top:1rem !important;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
}

.btn-referrer{
    background: #2E3135;
    border-color: #2E3135;
}

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle,
.btn-outline-dark:not(:disabled):not(.disabled).active, .btn-outline-dark:not(:disabled):not(.disabled):active, .show>.btn-outline-dark.dropdown-toggle{
    background: #b7002a;
    border-color: #b7002a;
}
.btn-dark:hover,.btn-dark:active,.btn-graph:hover{
    background: #b7002a;
    border-color: #b7002a;
}
.btn-outline-light:hover{
    background: rgb(0,0,0,0.2);
}
.sidebar-dark-primary{
    background: #FFFFFF;
}

/*tr:hover{
    background: #b7002a;
}*/

.sidebar-mini.sidebar-collapse .main-sidebar, .sidebar-mini.sidebar-collapse .main-sidebar:before{
    width:5rem;
}

.main-sidebar .logo-mini {
    display: none;
    -webkit-transition: width .3s ease-in-out;
    -o-transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}

.main-sidebar .logo-lg {
    display: block;
    text-align: center;
    -webkit-transition: width .3s ease-in-out;
    -o-transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}

.sidebar-collapse .logo-mini {
    display: block;
    -webkit-transition: width .3s ease-in-out;
    -o-transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}

.sidebar-collapse .main-sidebar:hover .logo-mini {
    display: none;
    -webkit-transition: width .3s ease-in-out;
    -o-transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}

.sidebar-collapse .logo-lg {
    display: none;
    -webkit-transition: width .3s ease-in-out;
    -o-transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}

.sidebar-collapse .main-sidebar:hover{
    z-index: 999999;
}

.sidebar-collapse .main-sidebar:hover .logo-lg {
    display: block;
    -webkit-transition: width .3s ease-in-out;
    -o-transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}

.sidebar-collapse a.nav-link {
    padding-left:20px;
}



@media (min-width: 992px){
    .sidebar-mini.sidebar-collapse .content-wrapper, .sidebar-mini.sidebar-collapse .main-footer, .sidebar-mini.sidebar-collapse .main-header {
        margin-left: 5rem!important;
    }
}

.table thead tr.btn-dark:hover td, .table thead tr.btn-dark:hover th,.table thead.btn-dark:hover tr td ,.table thead.btn-dark:hover tr th {
    background: #FFFFFF;
}

/*.table tbody tr:hover td, .table tbody tr:hover th {
    background-color: rgba(221,0,51,0.2);
}*/

.badge{
    vertical-align: top;
}

.modal-backdrop{
    z-index:1101 !important;
}

.modal{
    z-index:1102 !important;
}

.card-header{
    background-color:#DD0033;
    color:#FFFFFF;
}

.main-sidebar{
    z-index:1102 !important;
}

.config-sections ul {
    list-style: none;
    padding: 0;
}
.config-sections ul .inner {
    padding-left: 1em;
    overflow: hidden;
    display: none;
}
.config-sections ul .inner.show {
    display: block;
}
.config-sections ul li {
    margin: 0.5em 0;
}
.config-sections ul li a {
    color:#FFFFFF !important;;
}

.config-sections ul li a.toggle:hover {
    background: #b7002a;
}
.config-sections ul li a.toggle{
    background-color:#DD0033;
    color:#FFFFFF;
    width: 100%;
    display: block;
    padding: 0.75em;
    border-radius: 0.15em;
    transition: background 0.3s ease;
}

.nav-sidebar .nav-item .nav .nav-item .nav .nav-link{
    padding-left:25px;
}

.completed-region{
    background-color:#DD0033;
    color:#FFFFFF;
}

.alert-danger{
color: #721c24 !important;
background-color: #f8d7da !important;
border-color: #f5c6cb !important;
}

.alert-warning {
    background-color: #fcf8e3 !important;
    border-color: #faf2cc !important;
    color: #8a6d3b !important;
}

.alert-info {
    background-color: #d9edf7 !important;
    border-color: #bcdff1 !important;
    color: #31708f !important;
}

.alert-success {
    background-color: #dff0d8 !important;
    border-color: #d0e9c6 !important;
    color: #3c763d !important;
}